<template name="form">
  <div class="row">
    <div class=".col-md-6 .col-md-offset-3">
      <div class="form-group">
        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-6">
          <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-6">
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required>
        </div>
      </div>
    </div>
  </div>
</template>
