<template name="home">
    {{#if currentUser}}
    {{> status}}
    <div class="panel panel-default" id="timeline">
      <div class="panel-body">
        {{#each post}} {{> timeline}} {{/each}}
      </div>
    </div>
    {{else}} {{> login}} {{/if}}
</template>
