<template name="login">
  <!-- <form class="login form-horizontal"> -->
  {{#if currentUser}}
  {{else}}
    <form class="login page-header form-horizontal">
    <fieldset>
      <legend>Login</legend>
      {{> form}}
      <div class="form-group" id="login">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-primary">Cancel</button>
          <button type="submit" id="btnLogin" class="btn btn-success">Login</button>
        </div>
      </div>
    </fieldset>
  </form>
  {{/if}}
</template>
