<template name="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Pikkuappu</a>
            </div>

            <div class="collapse  navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                    <li><a href="{{pathFor route='home'}}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                    <li><a href="{{pathFor route='profile'}}"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                    {{> notification}}
                    <li><a href="{{pathFor route='users'}}"><span class="glyphicon glyphicon-globe"></span>Find Friends</a></li>
                    {{else}}
                    <li><a href="{{pathFor route='register'}}"><span class="glyphicon glyphicon-registration-mark"></span>Register</a></li>
                    <li><a href="{{pathFor route='login'}}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}
                    <li><a href="{{pathFor route='profile'}}">{{username}}</a></li>
                    <li><a href="#" id="btnLogout" class="logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>
