<template name="notification">
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        Notifications
        {{#if count}}
        <span class="badge" name="count">{{count}}</span>
        {{/if}}
      </a>
      <ul class="dropdown-menu">
        {{#if count}}
          {{#each notif}}
            <li> <h5 class="notif"> {{message}} </h5> </li>
          {{/each}}
        {{else}}
            <li><span>No notifications</span></li>
        {{/if}}
      </ul>
    </li>
</template>
