<template name="profile">
  {{#if currentUser}}
  <blockquote>
    <small>Welcome
      <cite title="Source Title">{{currentUser.username}}</cite>
    </small>
  </blockquote>
        {{> status}}
        <div class="panel panel-default" id="timeline">
          <div class="panel-body">
            {{#each post}} {{> timeline}} {{/each}}
          </div>
        </div>
  {{else}} {{> login}} {{/if}}
</template>
