<template name="register">
    <form class="register page-header form-horizontal">
      {{#if currentUser}}
      {{else}}
      <fieldset>
        <legend>Register</legend>
        {{> form}}
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-primary">Cancel</button>
            <button type="submit" id="btnRegister" class="btn btn-success">Register</button>
          </div>
        </div>
      </fieldset>
      {{/if}}
    </form>
</template>
