<template name="status">
  <form class="post">
    <div class="well well-large form-group" id="border" >
      <p class="lead" id="lead"> What's on your mind? </p>
      <textarea class="form-control" rows="5" name="post" id="postTextarea" required></textarea>
      <input type="submit" id="btnPost" class="btn btn-primary pull-right" value="Post">
    </div>
  </form>
</template>
