<template name="timeline">
      <div id="status">
        <h4 class="createdby" name="otherUser"> {{createdBy}} </h4>
        <h3> {{post}} </h3>
        <h6> {{postedAt}} </h6>
        {{#if like}}
        <p class="liked"> you have liked this </p>
        {{else}}
        <a href="#" id="like" class="like">
        <span class="glyphicon glyphicon-thumbs-up"></span>Like
        </a>
        {{/if}}
        {{#if count}}
        <span class="badge" name="count">{{count}}</span> People like this
        {{/if}}
        <hr class="style1" />
    </div>
</template>
