<template name="users">
  {{#if currentUser}}
  <div class="panel panel-default" id="users">
    <div class="panel-body">
      {{#each user}}
        <h3> {{username}} </h3>
        {{#if follow}}
        <p class="follow" id="followed">Followed</p>
        {{else}}
        <a href="#" id="follow" class="follow"><span class="glyphicon glyphicon-plus"></span>Follow</a>
        {{/if}}
      {{/each}}
    </div>
  </div>
  {{else}}
  {{> login}}
  {{/if}}
</template>
